<!DOCTYPE html>
<html lang="en">
<header>
    <%- include('../partials/header_company_worker'); %>
</header>
<head>
    <title>Monitor Contractor Workers Shifts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="public_search_contractor/images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/animate/animate.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/css/util.css">
    <link rel="stylesheet" type="text/css" href="public_search_contractor/css/main.css">
<!--===============================================================================================-->
</head>

<body>
	<a>All of The shifts that hasn't been confirmed yet.</a>
	<a>If you tried to confirm a shift that's has a start hour or an ending hour in the wrong format - it will not be confirmed and it will still appear in the table.</a>
    <a>If you reported on a shift, your report will be sent to the user email (if he has one), and it'll still appear in the table.</a>
	<% if(details!=null) { %>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
										<th class="cell100 column1">Contractor ID</th>
                                        <th class="cell100 column2">Recrutier ID</th>
                                        <th class="cell100 column3">Date</th>
                                        <th class="cell100 column4">Start</th>
                                        <th class="cell100 column5">End</th>
                                        <th class="cell100 column6">Actions</th>
                                        <th class="cell100 column7"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table id="contractor-workers-table">
                                <tbody>
                                    <% details.forEach(function(item){ %>
                                        <tr class="row100 body">
											<td class="cell100 column1"><%= item[4]%></td>
                                            <td class="cell100 column2"><%= item[3]%></td>
                                            <td class="cell100 column3"><%= item[0]%></td>
                                            <td class="cell100 column4"><%= item[1]%></td>
                                            <td class="cell100 column5"><%= item[2]%></td>
                                            <td class="cell100 column6">
                                                <button class="btn-view" type="button">Confirm</button>
                                            </td>
											<td class="cell100 column7">
                                                <button class="btn-view" type="button">Report</button>
                                            </td>                                
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <% } %>

<!--===============================================================================================-->  
    <script src="public_search_contractor/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="public_search_contractor/vendor/bootstrap/js/popper.js"></script>
    <script src="public_search_contractor/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="public_search_contractor/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="public_search_contractor/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function(){
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function(){
                ps.update();
            })
        });
    </script>
    <script>
        function addRowHandlers() {
            var table = document.getElementById("contractor-workers-table");
            var rows = table.getElementsByTagName("tr");
            for (i = 0; i < rows.length; i++) {
                var currentRow = table.rows[i]
                var currentConfirmBtn = currentRow.getElementsByTagName("td")[5]
				var currentReportBtn = currentRow.getElementsByTagName("td")[6]

                var confirmClickHandler = function(row) {
                    return function() {
                        var cell = row.getElementsByTagName("td")[0]
                        var contractor_id = cell.innerHTML
						var cell = row.getElementsByTagName("td")[2]
                        var date = cell.innerHTML
                        date = date.replaceAll("/", ".");
                        window.location.href = 'company_worker_confirm_shift/'+ contractor_id + '_' + date;
                    }
                }
				var reportClickHandler = function(row) {
                    return function() {
                        var cell = row.getElementsByTagName("td")[0]
                        var contractor_id = cell.innerHTML
						var cell = row.getElementsByTagName("td")[2]
                        var date = cell.innerHTML
                        date = date.replaceAll("/", ".");
                        window.location.href = 'company_worker_report_shift/'+ contractor_id + '_' + date;
                    }
                }

                currentConfirmBtn.onclick = confirmClickHandler(currentRow);
				currentReportBtn.onclick = reportClickHandler(currentRow);
            }
        }
        window.onload = addRowHandlers();
    </script>

<!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>
</html>
