<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_contractor/css/contractor_pay_rates.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script language ="javascript" type="text/javascript" src="public_contractor/contractor_pay_rates.js"></script>
      
    </head>
    <header>
        <%- include('../partials/navbar_contractor_worker'); %>
    </header>
  <body>
    <h2 id="greeting">Hello <%= details[0].first_name%> <%= details[0].last_name%> this is your pay rate</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Recruiter Name</th>
                <th>&nbsp; &nbsp;Date &nbsp; &nbsp; &nbsp;</th>
                <th>Payment</th>
            </tr>
            </thead>
            <tbody>
                <% details[0].ratings.forEach(function(item){ %> 
            <tr>
                <td><%= item[0]%></td>
                <td><%= item[2]%></td>
                <td><%= item[1]%></td>
              
            </tr>
            <% }) %>
            <tbody>
   
        </table>
        <table class="fl-table">
            <thead>
            <tr>
                <th>Average Pay &nbsp; &nbsp; &nbsp;   </th>
                <th>Work Days</th>
                <th>Total Pay</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="AveragePay"></td>
                <td id="WorkDays"></td>
                <td id="TotalPay"></td>
              
            </tr>
            <tbody>
   
        </table>
    </div>
    
  </body>
</html>