<base href="/">
<header>
    <%- include('../partials/navbar_contractor_worker'); %>
</header>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>User name</h1></div>
    	
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9" >
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#details">User details</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="details">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <br>
							  <% if(details!=null) { %>
                              <td ><%= details[0].first_name%></td>
							  <% } %>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                            <br>
                            <% if(details!=null) { %>
							<td ><%= details[0].last_name%></td>
							<% } %>
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-6">
                            <label for="city"><h4>City</h4></label>
                            <br>
                            <% if(details!=null) { %>
							<td ><%= details[0].city%></td>
							<% } %>  
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="address"><h4>Home address</h4></label>
                            <br>
                            <% if(details!=null) { %>
							<td ><%= details[0].home%></td>
							<% } %> 
                        </div>
                    </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <br>
                              <% if(details!=null) { %>
								<td ><%= details[0].phone_number%></td>
							  <% } %>
                            </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <br>
                              <% if(details!=null) { %>
								<td ><%= details[0].email%></td>
							  <% } %> 
                            </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="gender"><h4>Gender</h4></label>
                              <br>
                              <% if(details!=null) { %>
								<td ><%= details[0].gender%></td>
							  <% } %> 
                          </div>
                          
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="skills"><h4>Skills</h4></label>
                              <br>
                              <% if(details!=null) { %>
								<td ><%= details[0].skills%></td>
							  <% } %> 
                          </div>
                      </div>
                     
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                <ul class="list-inline m-0">
                                    <a href="contractor_worker_edit_my_profile" class="btn btn-primary a-btn-slide-text">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        <span><strong>Edit</strong></span>            
                                    </a>
                                </ul>
                            </div>
                      </div>

              	</form>
              
              <hr>
              
             </div><!--/tab-pane-->
                          
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
                                                      