<!DOCTYPE html>
<html lang="en">
<base href="/">
<% if(type == "Company Worker") { %>
	<header>
			<%- include('../partials/header_company_worker'); %>
	</header>
<% } %>
<% if(type == "Contractor Worker") { %>
	<header>
		<%- include('../partials/navbar_contractor_worker'); %>
	</header>
<% } %>
<head>
    <title>Shifts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="public_search_contractor/images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/animate/animate.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/css/util.css">
    <link rel="stylesheet" type="text/css" href="public_search_contractor/css/main.css">
<!--===============================================================================================-->
</head>

<body>
	<% if(type == "Contractor Worker") { %>
    <a href="contractor_add_new_shift">
        <span><strong>Add new shift</strong></span>            
    </a>
	<% } %> 
    <% if(details!=null) { %>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1">Recrutier ID</th>
                                        <th class="cell100 column2">Date</th>
                                        <th class="cell100 column3">Start</th>
                                        <th class="cell100 column4">End</th>
										<% if(type == "Contractor Worker") { %>
											<th class="cell100 column7">Actions</th>
                                        	<th class="cell100 column8"></th>
										<% } %>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table id="contractor-workers-table">
                                <tbody>
                                    <% details.forEach(function(item){ %>
                                        <tr class="row100 body">
                                            <td class="cell100 column1"><%= item[3]%></td>
                                            <td class="cell100 column2"><%= item[0]%></td>
                                            <td class="cell100 column3"><%= item[1]%></td>
                                            <td class="cell100 column4"><%= item[2]%></td>
                                            <% if(type == "Contractor Worker") { %>
												<td class="cell100 column5">
													<button class="btn-view" type="button">Edit shift</button>
												</td>
											<% } %>                             
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <% } %>

<!--===============================================================================================-->  
    <script src="public_search_contractor/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="public_search_contractor/vendor/bootstrap/js/popper.js"></script>
    <script src="public_search_contractor/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="public_search_contractor/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="public_search_contractor/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function(){
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function(){
                ps.update();
            })
        });
    </script>
    <script>
        function addRowHandlers() {
            var table = document.getElementById("contractor-workers-table");
            var rows = table.getElementsByTagName("tr");
            for (i = 0; i < rows.length; i++) {
                var currentRow = table.rows[i]
                var currentViewBtn = currentRow.getElementsByTagName("td")[4]
                var editClickHandler = function(row) {
                    return function() {
                        var cell = row.getElementsByTagName("td")[1]
                        var date = cell.innerHTML
                        date = date.replaceAll("/", ".");
                        window.location.href = 'contractor_worker_edit_shift/'+ date;
                    }
                }

                currentViewBtn.onclick = editClickHandler(currentRow);
            }
        }
        window.onload = addRowHandlers();
    </script>

<!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>
</html>
