<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public_contractor/css/contractor_work_history.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script language ="javascript" type="text/javascript" src="public_contractor/contractor_pay_rates.js"></script>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="public_search_contractor/images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/animate/animate.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public_search_contractor/css/util.css">
    <link rel="stylesheet" type="text/css" href="public_search_contractor/css/main.css">
<!--===============================================================================================-->
    </head>
    <header>
        <%- include('../partials/navbar_contractor_worker'); %>
    </header>
  <body>
    <h2 id="greeting"><%= full_name %> this is all of your work history</h2>
	<p></p>
	<% if(total_pay!=null) { %>
	<div>
		The total pay for this month is: <%= total_pay %> 
	</div>
	<% } %>
	<% if(total_hours_for_month!=null && total_minutes_for_month != null) { %>
	<div>
		This month you worked <%= total_hours_for_month %> hours and <%= total_minutes_for_month %> minutes
	</div>
	<% } %>
	<div class="s01">
        <form action="/filter_work_history" method="POST">
          <div class="inner-form">
            <div class="input-field first-wrap">
				<select name="month" id="month">
					<optgroup label="Month">
					<option value="0">All Months</option>
					  <option value="1">January</option>
					  <option value="2">February</option>
					  <option value="3">March</option>
					  <option value="4">April</option>
					  <option value="5">May</option>
					  <option value="6">June</option>
					  <option value="7">July</option>
					  <option value="8">August</option>
					  <option value="9">September</option>
					  <option value="10">October</option>
					  <option value="11">November</option>
					  <option value="12">December</option>
					</optgroup>
				</select>
            </div>
            <div class="input-field second-wrap">
              <input id="location" type="text" name="company_name" placeholder="Company name"/>
            </div>
            <div class="input-field second-wrap">
                <input id="location" type="text" name="recrutier_id" placeholder="Recrutier ID"/>
            </div>
            <div class="input-field third-wrap">
              <button class="btn-search" type="submit">Search</button>
            </div>
          </div>
        </form>
    </div>
        
                <section>
                    <!--for demo wrap-->
                    <div class="tbl-header">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                          <tr>
                            <th>Company</th>
                            <th>Recrutier ID</th>
                            <th>Date</th>
                            <th>Starting Hour</th>
                            <th>Ending Hour</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="tbl-content">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <% work_history.forEach(function(item){ %> 
                                <tr>
                                    <td><%= item[4]%></td>
                                    <td><%= item[3]%></td>
                                    <td><%= item[0]%></td>
                                    <td><%= item[1]%></td>
                                    <td><%= item[2]%></td>
                                </tr>
                                <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </section>
    </div>
    
  </body>
</html>