<!DOCTYPE html>
<html>
	<base href="/">
	<header>
		<%- include('../partials/header_recruiter'); %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="public_employe/employe_rating.css">
        <script language ="javascript" type="text/javascript" src="public_employe/employe_rating.js"></script>
	</header>
  <head>

  </head>
  <body>
	<div class="showcase">
       
          <% for (var i =0; i < details.length; ++i ) { %>
        <div class="rating-system3">
          <h3>Worker:<%= details[i][4]%> &nbsp &nbsp Date:<%= details[i][0]%> &nbsp &nbsp ID:<%= details[i][3]%>  </h3>
          <form method="post" action="/rating_send">
            <fieldset>
              <span class="star-cb-group">
                <input name="person" value="<%= details[i]%>">
                <input type="radio" id= "<%= i*5 + 5%>" name="rating" value="5" /><label for= "<%= i*5 + 5%>">5</label>
                <input type="radio" id= "<%= i*5 + 4%>" name="rating" value="4" /><label for= "<%= i*5 + 4%>">4</label>
                <input type="radio" id= "<%= i*5 + 3%>" name="rating" value="3" /><label for= "<%= i*5 + 3%>">3</label>
                <input type="radio" id= "<%= i*5 + 2%>" name="rating" value="2" /><label for= "<%= i*5 + 2%>">2</label>
                <input type="radio" id= "<%= i*5 + 1%>" name="rating" value="1" checked="checked"/><label for= "<%= i*5 + 1%>">1</label>
                <input type="radio" id= "<%= i*5 + 0%>" name="rating" value="0" class="star-cb-clear" /><label for= "<%= i*5 + 0%>">0</label>
              </span>
            </fieldset>
            <input type="submit" value="Submit">
          </form>
        </div>
        <% } %>
        </div>

	</body>
</html>

