<!DOCTYPE html>
<html lang="en">
<header>
    <%- include('../partials/header_company_worker'); %>
</header>
<head>
	<title>Table V04</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="public_search_contractor/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public_search_contractor/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public_search_contractor/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public_search_contractor/css/util.css">
	<link rel="stylesheet" type="text/css" href="public_search_contractor/css/main.css">
<!--===============================================================================================-->
</head>

<body>
	<% if(details!=null) { %>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
							<table>
								<thead>
									<tr class="row100 head">
										<th class="cell100 column1">First name</th>
										<th class="cell100 column2">Last name</th>
										<th class="cell100 column3">Hourly Pay</th>
										<th class="cell100 column4">City</th>
										<th class="cell100 column5">Skills</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="table100-body js-pscroll">
							<table>
								<tbody>
									<% details.forEach(function(item){ %>
										<tr class="row100 body">
											<td class="cell100 column1"><%= item.first_name%></td>
											<td class="cell100 column2"><%= item.last_name%></td>
											<td class="cell100 column3"><%= item.hourly_pay%></td>
											<td class="cell100 column4"><%= item.city%></td>
											<td class="cell100 column5"><%= item.skills%></td>									
										</tr>
									<% }) %>
								</tbody>
							</table>
						</div>
					</div>
			</div>
		</div>
	</div>
	<% } %>


<!--===============================================================================================-->	
	<script src="public_search_contractor/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="public_search_contractor/vendor/bootstrap/js/popper.js"></script>
	<script src="public_search_contractor/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="public_search_contractor/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="public_search_contractor/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>

<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>