<!DOCTYPE html>
<html>
	<header>
        <%- include('../partials/header_company_worker'); %>
    </header>
	<head>
		Statistics
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
		<div>
			<p>Please check at least 3 criterions in order to get a statistics analysis</p>
		</div>
		<form id="send_report_shift" action="/make_statistics" method="POST">
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="shifts_confirmed" name="shifts_confirmed">
				<label class="form-check-label" for="materialUnchecked">Shifts Confirmed In A Month</label>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="shifts_waiting" name="shifts_waiting">
				<label class="form-check-label" for="materialUnchecked">Shifts Waiting for approval In A Month</label>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="jobs_waiting" name="jobs_waiting">
				<label class="form-check-label" for="materialUnchecked">Job Requests Waiting for approval In A Month</label>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="jobs_decliend" name="jobs_decliend">
				<label class="form-check-label" for="materialUnchecked">Job Requests Decliened In A Month</label>
			</div>
			<div>
				<button class="btn-search" type="submit">Get Statistic Analysis</button>
			</div>
			
		</form>
		<% if(final_datasets!=null) { %>
			<% for (var i =0; i < final_datasets.length; ++i ) { %>
				<div id="label<%= i %>" style="visibility: hidden;"><%= final_datasets[i].label %></div>
				<div id="data<%= i %>" style="visibility: hidden;"><%= final_datasets[i].data %></div>
			<% } %>
			
			<canvas id="lineChart"></canvas>

		<% } %>
		<% if(msg!=null) { %>
			<div><%= msg %></div>
		<% } %>
		
		
		<script>
			var final_datasets = "<%= final_datasets %>"
			console.log(final_datasets)
			if(final_datasets != ""){
				var all = []
				var bg_color = ['rgba(105, 0, 132, .2)', 'rgba(0, 137, 132, .2)', 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)',]
				var border_colors = ['rgba(200, 99, 132, .7)', 'rgba(0, 10, 130, .7)', 'rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)']
				var j = 0
				while(document.getElementById("label".concat('', j.toString()))){
					console.log(document.getElementById("label".concat('', j.toString())).innerHTML)
					all.push(
						{
							label: document.getElementById("label".concat('', j.toString())).innerHTML,
							data: (document.getElementById("data".concat('', j.toString())).innerHTML).split(',').map(Number),
							backgroundColor: [
								bg_color[j],
							],
							borderColor: [
								border_colors[j],
							],
							borderWidth: 2
						}
					)
					++j
				}
				console.log(all)
				/*var sets = "<%= final_datasets %>"
				console.log(sets.length)
				var all = []
				for(var i=0; i<sets.length; ++i){
					all.push({
						label: i.toString(),
						data: sets[i],
						backgroundColor: [
									'rgba(105, 0, 132, .2)',
									],
						borderColor: [
									'rgba(200, 99, 132, .7)',
									],
						borderWidth: 2
					})
				}*/
				//line
				var ctxL = document.getElementById("lineChart").getContext('2d');
				var myLineChart = new Chart(ctxL, {
					type: 'line',
					data: {
						labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
						datasets: all
					},
					options: {
					responsive: true
					}
				});
			}
			
		</script>
	</body>
	
</html>